.git
.vs
.vscode

**/bin
**/obj
**/TestResults

python/.venv
python/**/__pycache__
python/**/*.pyc
python/.ipynb_checkpoints

data/**
!data/.gitkeep

*.log
*.db
*.sqlite
*.sqlite3
*.parquet
*.feather
*.arrow

.env
.env.*
!.env.example